$font-stack: 'montserratbold';
$montserrat_regular: 'montserratregular';
$hindlight: 'hindlight';
$hindregular: 'hindregular';
$color-top-menu: #f4f4f4;
$grey: #ebebeb;
$white: #fff;
$black: #252525;
$red: #d03b31;
$border-color: #adadad;
$color-text: #4f5362;
$title-color: #222328;
$color-social: #7e7e80;