/*
	Theme Name: LWP Blank Theme
	Description: Blank WordPress Theme
	Version: 1.0
	Author: Lenlay
	Author URI: http://lenlay.com

*/

/*------------------------------------*\
    MISC
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}